header, nav {
    z-index: 100001 !important;
}

.video-container {
    position: relative;
    padding-bottom: 75%; /* 4:3 aspect ratio */
    overflow: hidden;
  }

  
.section-container {
    @apply max-w-screen-2xl container mx-auto xl:px-24 px-4;
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


